.livefeed {
  position: relative;
  height: 28em;
  width: 20em;
  left: 0em;
  overflow-y: auto;
  overflow-x: hidden;
  box-shadow: 2px 2px 10px 2px rgba(204, 192, 192, 0.75);
}

.review {
  padding: 10px;
}

.date {
  display: flex;
  font-size: 0.8rem;
  color: #f58183;
  justify-content: flex-end;
}

.flex_row {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
}

.flex_row p {
  margin-right: 0.2rem;
  font-size: 0.9rem;
  color: rgb(93, 91, 91);
}

.flex_row_begin {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

hr {
  margin: 1em;
  border: 1px solid darkcyan;
}

.skills {
  font-size: 0.9em;
  padding: 0 1em;
}

.skill_row span {
  margin-right: 10px;
}

.center {
  padding-top: 1em;
}
