.livefeed {
  position: relative;
  height: 25.5em;
  width: 24em;
  left: -2em;
  overflow-y: auto;
  overflow-x: hidden;
}

.review {
  position: relative;
  top: -0.75em;
  .date {
    position: relative;
  }
}
