.main section {
  margin: 1em;
  padding: 1em;
  color: gray;
  border-radius: 0px;
  -webkit-filter: drop-shadow(0px 5px px rgba(0, 0, 0, 0.8));
  filter: drop-shadow(0px 5px 4px rgba(187, 187, 189, 0.8));
  background: #fff;
  border-radius: 5px;
}

.main {
  margin-top: 0;
  display: grid;
  grid-template-rows: 25vh 25vh 35vh;
  grid-template-columns: 25vw 25vw 20vw 20vw;
}

.main .box1 {
  grid-column-start: 3;
  grid-column-end: 5;
  grid-row-start: 1;
  grid-row-end: 3;
}

.main .box2 {
  background-color: #f9d1b7;
  background-image: linear-gradient(315deg, #f9d1b7 0%, #f894a4 74%);
}

.main .box3 {
  /* background-color: #96c8fb;
  background-image: linear-gradient(315deg, #96c8fb 0%, #ddbdfc 74%); */
  grid-row-start: 1;
  grid-row-end: 3;
  grid-column-start: 2;
  grid-column-end: 3;
}

.main .box6 {
  background-color: #b1bfd8;
  background-image: linear-gradient(315deg, #b1bfd8 0%, #6782b4 74%);
}

.main .box7 {
  background-color: #2b1331;
  background-image: linear-gradient(315deg, #2b1331 0%, #b9abcf 74%);
}

.main .box4 {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.main .box5 {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.radar_info {
  position: absolute;
  top: 0;
  right: 0;
  margin: 3rem 1rem 0;
  font-size: 0.9rem;
}

.radar_info ul {
  text-decoration: none;
}

.radar_info ul h4 {
  border-bottom: 1px solid gray;
  font-size: 1rem;
}

.radar_info ul li {
  margin: 40% 0;
  color: teal;
  list-style-type: none;
}

.radar_info ul .l2 {
  color: #c25b90;
}

.radar_info ul .l3 {
  color: #ba9cc2;
}

.box8 h5 {
  text-align: center;
}

.main .box2 {
  background-color: #f9d1b7;
  background-image: linear-gradient(315deg, #f9d1b7 0%, #f894a4 74%);
  display: flex;
  flex-direction: row;
  justify-content: space-between;

  /* grid-area: profile; */
}

.main .box2 > img {
  object-fit: cover;
  width: 50%;
  max-height: 100%;
}

.bio {
  padding-left: 1em;
  background-color: black;
  opacity: 55%;
  width: 100%;
  height: 100%;
  color: white;
}

.bio .bio_line {
  font-size: 0.7em;
}

.tagname {
  text-align: center;
  color: gray;
  margin-top: 1em;
}

/* .main .box3,
.main .box9 {
  background: #ffffff50;
} */

.main .box9 {
  background: #5cc5d350;
  color: teal;
}

h4 {
  text-align: center;
  font-size: 0.8em;
}

.pending_review {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  margin: 3px;
}

.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: teal;
  align-items: center;
}

.button:hover {
  background-color: #fff;
  border-radius: 5px;
  padding: 1px;
}

.button .button_title {
  font-size: 0.6em;
  padding-top: 0.7em;
  color: teal;
  text-transform: capitalize;
}

.feed_div {
  height: 25vh;
  width: 100%;
  border-right: 2px solid #e67a7a;
}

.profile_feed {
  position: relative;
  height: 100%;
  padding: 0;
  margin: 0;
  box-shadow: none;
}
