.sidenav a {
  font-size: 1em;
  color: rgb(221, 220, 220);
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
}

.button-title {
  font-size: 1em;
  width: 0px;
  overflow: hidden;
  transition: all 1s;
}

.sidenav .logo {
  padding: 15px auto;
}

.button:hover .button-title {
  width: 100px;
}

.logo {
  font-size: 1.5em;
  color: lightcyan;
  display: flex;
  justify-content: center;
  padding-bottom: 2em;
}
