.button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: white;
  align-items: center;
}

.button:hover {
  color: #7fcec5;
}

.button .button-title {
  font-size: 0.6em;
  padding-top: 0.7em;

  color: white;
  text-transform: capitalize;
}

// .sidenav .logo {
//   padding: 15px auto;
// }

// .button:hover .button-title {
//   width: 100px;
// }

// .logo {
//   font-size: 1em;
//   color: lightcyan;
//   display: flex;
//   justify-content: center;
//   padding-bottom: 1em;
// }
