.sidenav__list_item {
  font-size: 1em;
  color: gray;
  padding-bottom: 2em;
  text-decoration: none;
}

.button {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  color: #645aa2;
  // #645aa2
  // color: #f2c7c0;

  // color: #fdf4f1;
  // // text color
  // color: #45444e;
}

.button-title {
  font-size: 1em;
  width: 0px;
  overflow: hidden;
  transition: all 1s;
}

.button:hover .button-title {
  width: 100px;
}

.icon {
  font-size: 4em;
  width: 4em;
}
