header > h1 {
  position: relative;
  text-align: center;
}

.search_container {
  position: relative;
  width: 20%;
  height: 12.5rem;
  bottom: 1rem;
  left: 1rem;
  padding-left: 0.5rem;
  padding-bottom: 0.5rem;
  background-color: #01011d;
  border-radius: 20px;
  color: #111111;
}

.survey_bucket_container {
  position: relative;
  bottom: 15.34rem;
  left: 10rem;
  width: 73%;
  height: 12.5rem;
  background-color: #01011d;
  border-radius: 20px;
  text-align: center;

  .virtue_categories {
    position: relative;
    top: 1rem;

    h6 {
      color: white;
    }
  }

  .virtues {
    position: relative;
    display: flex;
    flex-flow: column wrap;
    bottom: 0.25rem;

    h6 {
      color: white;
      margin: 0;
      margin-bottom: 0.5rem;
    }
  }
}
