.virtue_buckets_container {
  div {
    position: relative;
    bottom: 6rem;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    width: fit-content;
    margin: auto;
  }
}
