.virtue_buckets_container {
  position: relative;
  top: 1rem;
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: fit-content;
  margin: auto;
}

.bucket_item_container {
  position: relative;
  text-align: center;

  p {
    display: flex;
  }
}

.icon {
  width: 2.5rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: grey;

  &:hover {
    background-color: #200122;
    border: 2px solid #af3b4a;
  }

  &:focus {
    background-color: #200122;
    border: 2px solid #af3b4a;
  }
}

article > p {
  position: relative;
  font-size: 1em;
  bottom: 0.5rem;
}

.virtue_container {
  background-color: grey;
  font-size: 1rem;
  width: fit-content;
  margin: 0.15rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
  color: #018e98;

  &:hover {
    background-color: #200122;
    border: 2px solid #af3b4a;
    padding: 0.1rem;
  }

  &:active {
    background-color: #200122;
    border: 2px solid #af3b4a;
  }
}
