.virtue_buckets_container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  width: fit-content;
  margin: auto;
}

.bucket_item_container {
  position: relative;
  text-align: center;

  p {
    display: flex;
  }
}

.icon {
  width: 2.5rem;
  padding: 0.3rem;
  margin-bottom: 0.5rem;
  border-radius: 50%;
  cursor: pointer;
  background-color: rgb(241, 241, 241);

  &:hover {
    background-color: teal;
    border: 2px solid white;
  }

  &_selected {
    width: 2.5rem;
    padding: 0.3rem;
    margin-bottom: 0.5rem;
    border-radius: 50%;
    cursor: pointer;
    background-color: teal;
    border: 2px solid white;
  }
}

article > p {
  position: relative;
  font-size: 1em;
  bottom: 0.5rem;
}

.virtue_container {
  background-color: rgb(241, 241, 241);
  font-size: 1rem;
  width: fit-content;
  margin: 0.15rem;
  padding: 0.3rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  border-radius: 25px;
  cursor: pointer;
  color: #018e98;

  &:hover {
    background-color: teal;
    border: 2px solid white;
    color: white;
  }

  &_selected {
    background-color: teal;
    border: 2px solid white;
    color: white;
    margin: 0.15rem;
    padding: 0.3rem;
    padding-left: 0.5rem;
    padding-right: 0.5rem;
    border-radius: 25px;
    cursor: pointer;
  }
}
