* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  margin: 0;
}

.grid_container {
  display: grid;
  grid-template-columns: 240px 1fr;
  grid-template-rows: 60px 1fr 50px;
  grid-template-areas:
    "sidenav header"
    "sidenav main"
    "sidenav footer";
  height: 100vh;
  margin: 0;
  padding: 0;
  background: #ece9e6; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #ece9e6,
    #ffffff
  ); /* Chrome 10-25, Safari 5.1-6 */
}

#sidebar {
  width: 150px !important;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.center {
  text-align: center;
  color: rgb(77, 75, 75);
  padding-top: 0.5em;
}

.dd_list {
  font-size: 0.6em;
  cursor: pointer;
}

.dd-header {
  font-size: 0.6em;
  cursor: pointer;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
