/* .employee {
  position: relative;
  top: 0.25rem;
} */

.employee_avatar {
  border-radius: 50%;
  width: 40px;
  cursor: pointer;
  border: 1px solid grey;
}

.employee_name {
  color: grey;
  font-size: 0.9rem;
  cursor: pointer;
  margin-left: 0.5em;
}

.employee {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  margin: 0.4rem;
}
