.employee {
  position: relative;
  top: 0.25rem;
}

.employee_avatar {
  position: relative;
  border-radius: 50%;
  margin-bottom: -1rem;
  height: 55px;
  width: 55px;
  cursor: pointer;
  border: 1px solid grey;
}

.employee_name {
  position: relative;
  left: 2.5rem;
  bottom: 1.15rem;
  color: grey;
  font-size: 1rem;
  cursor: pointer;
}
