@import "//netdna.bootstrapcdn.com/font-awesome/3.0/css/font-awesome.css";

.search_bar {
  background: none;
  border: none;
  border-bottom: 1px solid grey;
  outline: none;
  color: grey;
  width: 16em;
  height: 2em;
  font-size: 1em;
}

.search_bar::placeholder {
  font-size: 1em;
  color: grey;
}

.fontAwesome {
  font-family: "Helvetica", FontAwesome, sans-serif;
}
